/***************** TAG SELECTORS *****************/
body{
  background-color: #f3f0d7;
  margin:0;
  text-align: center;
}

input{
  background-color: #f9f3f3;
}

textarea{
  background-color: #f9f3f3;
}

/***************** CLASS SELECTORS *****************/
.a-bottom {
  font-size: 18px;
  display: inline-block;
  width:190px;
  color:grey;
  text-decoration: none;
}

.a-bottom:hover{
  color: #f3f0d7;
}

.coverimage-mainpage {
  width: 100%;
}

.div-top-mainpage {
  background-color: #222222;
}

.div-middle {
  margin: 30px auto 30px auto;
}

.div-bottom {
  background-color: #222222;
  padding-top: 5px;
  padding-bottom: 5px;
}

.p-quote {
  color:grey;
  font-size: 20px;
}




/***************** ID SELECTORS *****************/
